body {
  font-family: Montserrat, sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}

.btn {
  width: 200px;
  height: 45px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  background: #4985FF;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
}

.section-text {
  color: #999999;
  font-size: 16px;
  line-height: 1.56;
}
.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid tomato;
}

/* HEADER */

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
}

/* Временно поставили фон */
.page-header {
  padding-top: 40px;
  padding-bottom: 40px;
  background: grey;
}
.header-list {
  display: flex;
  justify-content: flex-end;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

/* HERO */

.hero-text {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}

.hero-title {
  max-width: 829px;
  margin: 0 auto 50px;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;
  color: #ffffff;
}
.hero-btn { 
    margin: 0 auto;
}
/* Временно поставили фон */
.hero {
  background: grey;
}

/* SERVICE */
.service {
  padding-top:110px ;
  padding-bottom: 105px;
}

.service-title {
  color: #323232;
  text-align: center;
    max-width:739px ;
  margin:0 auto;
  margin-bottom: 50px;
}

.service-text {
  text-align: center;
  max-width: 730px ;
  margin:0 auto ; 
  margin-bottom: 70px;
}
.service-list {
  display: flex;
  margin-left: -27px;
  margin-bottom: 55px;

}

.service-item { 
flex-basis:calc((100% / 3 ) - 27px) ;
margin-left: 27px;

}

.service-list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.37;
  color: #000000;
}

.service-list-text {
  font-size: 14px;
}
.service-btn { 
  margin:0 auto; 
}

/* STANDART */
.standart-title {
  color: #323232;
}

.standart-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #4985ff;
}

.standart-digit {
  font-size: 36px;
  line-height: 1.47;
  color: #000000;
}

/*WORKS SECTION*/

.works {
  background-color: rgba(0, 0, 0, 0.5);
}

.works-title {
  color: #fff;
}

.works-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}

.works-item-number {
  color: #4985ff;
}

.works-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #4985ff;
}

/* projects */
.projects-title {
  text-align: center;
  color: #000000;
}

.projects-text {
  text-align: center;
}

.hero {
  padding-top: 319px;
  padding-bottom: 335px;
}
